build
node_modules
ganache-cli

chains_local.json
test/.openzeppelin/*

*31337*

.secret

*typechain*
*secret*

.env
/deployments/
/build/
/node_modules/
/typechain/
/artifacts/
/cache/
.DS_Store
*.swp
.tmp
/.openzeppelin/unknown-*.json
/yarn-error.log
